# Based on https://github.com/actions-rs/example/blob/master/.github/workflows/audit.yml

name: cargo-audit

on:
  schedule:
    - cron: '0 0 * * *'
  push:
  pull_request:

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
